div{
  text-align: center;
  margin:auto;
  color:white;
  font-weight: bold;
}
h2{
  text-align: center;
  color:white;
}

label {
    display:center;
    width: 100px;
    margin: .5em 0;
    color:white; 
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;

    border-style:solid;
    border-width:2px;
    border-color:white;

  }

  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    padding: 5px 10px;
    color: black;
    margin-left:10px;

    border-style:solid;
    border-width:2px;
    

  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }